--find-links http://c155-10.localcloud:8080/packages
--no-index

argparse==1.2.2
PyYAML==3.11
python-dateutil==2.2
requests==2.4.3
pika==0.9.14
-e ../util
-e ../info-broker
-e ../compiler
nose==1.3.4
-e .
